# House Sales in King Count

## Importing and understanding the dataset

### Importing the dataset

In [41]:
# Importing packages
import pandas as pd
from datetime import datetime

In [34]:
# Reading the file into a variable
df = pd.read_csv('kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### First look, making questions and tracing actions about the dataset treatment

Column 01: Bring us Id's of the houses. Are they uniques? If not, why? Will need to treat it? <br>
Column 02: Bring us the date. It will need to treat to another format (DD/MM/YYYY). <br>
Column 03: Bring us the price in dollar's. It will need to treat it? <br>
Column 04: Bring us the number of bedrooms. It will need to treat it? <br>
Column 05: Bring us the number of bathrooms. It will need to treat it?<br>
Column 06: Bring us the square foot living. It will need to treat it?<br>
Column 07: Bring us the lot square foot. It will need to treat it?<br>
Column 08: Bring us the number of floors. It will need to treat it?<br>
Column 09: Bring us the information if it's a waterfront house. It will need to treat it?<br>
Column 10: It's not a very clear information, but probably give us a information if the house has a good view (maybe of mountains or something like it). Let's understand it better<br>
Column 11: Bring us the information about how is the condition of the house. Let's understand it better<br>
Column 12: Bring us the condition level of construction and design. Let's understand it better<br>
Column 13: Bring us the information about the interior housing space that is above ground level<br>
Column 14: Bring us the information about the interior housing space that is below ground level<br>
Column 15: Bring us the information about when the house was built<br>
Column 16: Bring us the information about when house's last renovation happened<br>
Column 17: Bring us the lattitude<br>
Column 18: Bring us the longitude<br>
Column 19: Bring us the sqft living mean for the nearest 15 neighbors<br>
Column 20: Bring us the sqft land lots for the nearest 15 neighbors<br>

In [35]:
# What are the types of the columns of the dataframe?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

### Dataset treatment

#### Column 01

In [36]:
# Looking for duplicated id's
df['id'].value_counts()

795000620     3
3523069060    2
7129304540    2
2619920170    2
6021501535    2
             ..
2595650170    1
7212651100    1
9808700025    1
6772200055    1
2424410110    1
Name: id, Length: 21436, dtype: int64

In [37]:
# Let's urderstand the duplicated data
df[df['id'] == 795000620]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
17602,795000620,20140924T000000,115000.0,3,1.0,1080,6250,1.0,0,0,...,5,1080,0,1950,0,98168,47.5045,-122.33,1070,6250
17603,795000620,20141215T000000,124000.0,3,1.0,1080,6250,1.0,0,0,...,5,1080,0,1950,0,98168,47.5045,-122.33,1070,6250
17604,795000620,20150311T000000,157000.0,3,1.0,1080,6250,1.0,0,0,...,5,1080,0,1950,0,98168,47.5045,-122.33,1070,6250

We have in id's columns, duplicated id's but that is important to have cause are houses that were sold more than one time. So we will keep that data

#### Column 02

In [38]:
# Let's see how is the 2nd column
df['date']

0        20141013T000000
1        20141209T000000
2        20150225T000000
3        20141209T000000
4        20150218T000000
              ...
21608    20140521T000000
21609    20150223T000000
21610    20140623T000000
21611    20150116T000000
21612    20141015T000000
Name: date, Length: 21613, dtype: object

In [39]:
# We will need to treat it droping off the numbers 0 and the T
df['date'] = df['date'].map(lambda x: str(x)[:8])

In [40]:
# Let's see how is now
df['date']

0        20141013
1        20141209
2        20150225
3        20141209
4        20150218
           ...
21608    20140521
21609    20150223
21610    20140623
21611    20150116
21612    20141015
Name: date, Length: 21613, dtype: object

In [44]:
# Now, We will format to date
df['date'] = pd.to_datetime(df['date'])

In [47]:
# Let's see how is now
df['date']

0       2014-10-13
1       2014-12-09
2       2015-02-25
3       2014-12-09
4       2015-02-18
           ...
21608   2014-05-21
21609   2015-02-23
21610   2014-06-23
21611   2015-01-16
21612   2014-10-15
Name: date, Length: 21613, dtype: datetime64[ns]

#### Column 03

In [49]:
# See how is the column
df['price']

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [59]:
# Convert the float column to integer
df['price'] = df['price'].astype(int)
df['price']

0        221900
1        538000
2        180000
3        604000
4        510000
          ...
21608    360000
21609    400000
21610    402101
21611    400000
21612    325000
Name: price, Length: 21613, dtype: int32

#### Column 04

In [75]:
# See if there is something anormal in bedroom column
bedrooms = df.loc[df['bedrooms']>8]
bedrooms

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
4096,1997200215,2014-05-07,599999,9,4.50,3830,6988,2.5,0,0,...,7,2450,1380,1938,0,98103,47.6927,-122.338,1460,6291
4235,2902200015,2015-01-06,700000,9,3.00,3680,4400,2.0,0,0,...,7,2830,850,1908,0,98102,47.6374,-122.324,1960,2450
6079,9822700190,2014-08-08,1280000,9,4.50,3650,5000,2.0,0,0,...,8,2530,1120,1915,2010,98105,47.6604,-122.289,2510,5000
8546,424049043,2014-08-11,450000,9,7.50,4050,6504,2.0,0,0,...,7,4050,0,1996,0,98144,47.5923,-122.301,1448,3866
8757,1773100755,2014-08-21,520000,11,3.00,3000,4960,2.0,0,0,...,7,2400,600,1918,1999,98106,47.5560,-122.363,1420,4960
13314,627300145,2014-08-14,1148000,10,5.25,4590,10920,1.0,0,2,...,9,2500,2090,2008,0,98004,47.5861,-122.113,2730,10400
15161,5566100170,2014-10-29,650000,10,2.00,3610,11914,2.0,0,0,...,7,3010,600,1958,0,98006,47.5705,-122.175,2040,11914
15870,2402100895,2014-06-25,640000,33,1.75,1620,6000,1.0,0,0,...,7,1040,580,1947,0,98103,47.6878,-122.331,1330,4700
16844,8823900290,2015-03-17,1400000,9,4.00,4620,5508,2.5,0,0,...,11,3870,750,1915,0,98105,47.6684,-122.309,2710,4320
18443,8823901445,2015-03-13,934000,9,3.00,2820,4480,2.0,0,0,...,7,1880,940,1918,0,98105,47.6654,-122.307,2460,4400
19254,8812401450,2014-12-29,660000,10,3.00,2920,3745,2.0,0,0,...,7,1860,1060,1913,0,98105,47.6635,-122.320,1810,3745

In [ ]:
# TO CONTINUE -> We can see a some anormal line, so we will change the bedroom number for the median in that houses