# House Sales in King Count

## Importing and understanding the dataset

### Importing the dataset

In [1]:
# Importing packages
import pandas as pd
from datetime import datetime

In [2]:
# Reading the file into a variable
df = pd.read_csv('kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### First look, making questions and tracing actions about the dataset treatment

Column 01: Bring us Id's of the houses. Are they uniques? If not, why? Will need to treat it? <br>
Column 02: Bring us the date. It will need to treat to another format (DD/MM/YYYY). <br>
Column 03: Bring us the price in dollar's. It will need to treat it? <br>
Column 04: Bring us the number of bedrooms. It will need to treat it? <br>
Column 05: Bring us the number of bathrooms. It will need to treat it?<br>
Column 06: Bring us the square foot living. It will need to treat it?<br>
Column 07: Bring us the lot square foot. It will need to treat it?<br>
Column 08: Bring us the number of floors. It will need to treat it?<br>
Column 09: Bring us the information if it's a waterfront house. It will need to treat it?<br>
Column 10: It's not a very clear information, but probably give us a information if the house has a good view (maybe of mountains or something like it). Let's understand it better<br>
Column 11: Bring us the information about how is the condition of the house. Let's understand it better<br>
Column 12: Bring us the condition level of construction and design. Let's understand it better<br>
Column 13: Bring us the information about the interior housing space that is above ground level<br>
Column 14: Bring us the information about the interior housing space that is below ground level<br>
Column 15: Bring us the information about when the house was built<br>
Column 16: Bring us the information about when house's last renovation happened<br>
Column 17: Bring us the lattitude<br>
Column 18: Bring us the longitude<br>
Column 19: Bring us the sqft living mean for the nearest 15 neighbors<br>
Column 20: Bring us the sqft land lots for the nearest 15 neighbors<br>

In [3]:
# What are the types of the columns of the dataframe?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

### Dataset treatment

#### Column 01

In [4]:
# Looking for duplicated id's
df['id'].value_counts()

795000620     3
3523069060    2
7129304540    2
2619920170    2
6021501535    2
             ..
2595650170    1
7212651100    1
9808700025    1
6772200055    1
2424410110    1
Name: id, Length: 21436, dtype: int64

In [5]:
# Let's urderstand the duplicated data
df[df['id'] == 795000620]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
17602,795000620,20140924T000000,115000.0,3,1.0,1080,6250,1.0,0,0,...,5,1080,0,1950,0,98168,47.5045,-122.33,1070,6250
17603,795000620,20141215T000000,124000.0,3,1.0,1080,6250,1.0,0,0,...,5,1080,0,1950,0,98168,47.5045,-122.33,1070,6250
17604,795000620,20150311T000000,157000.0,3,1.0,1080,6250,1.0,0,0,...,5,1080,0,1950,0,98168,47.5045,-122.33,1070,6250

We have in id's columns, duplicated id's but that is important to have cause are houses that were sold more than one time. So we will keep that data

#### Column 02

In [6]:
# Let's see how is the 2nd column
df['date']

0        20141013T000000
1        20141209T000000
2        20150225T000000
3        20141209T000000
4        20150218T000000
              ...
21608    20140521T000000
21609    20150223T000000
21610    20140623T000000
21611    20150116T000000
21612    20141015T000000
Name: date, Length: 21613, dtype: object

In [7]:
# We will need to treat it droping off the numbers 0 and the T
df['date'] = df['date'].map(lambda x: str(x)[:8])

In [8]:
# Let's see how is now
df['date']

0        20141013
1        20141209
2        20150225
3        20141209
4        20150218
           ...
21608    20140521
21609    20150223
21610    20140623
21611    20150116
21612    20141015
Name: date, Length: 21613, dtype: object

In [9]:
# Now, We will format to date
df['date'] = pd.to_datetime(df['date'])

In [10]:
# Let's see how is now
df['date']

0       2014-10-13
1       2014-12-09
2       2015-02-25
3       2014-12-09
4       2015-02-18
           ...
21608   2014-05-21
21609   2015-02-23
21610   2014-06-23
21611   2015-01-16
21612   2014-10-15
Name: date, Length: 21613, dtype: datetime64[ns]

#### Column 03

In [11]:
# See how is the column
df['price']

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [12]:
# Convert the float column to integer
df['price'] = df['price'].astype(int)
df['price']

0        221900
1        538000
2        180000
3        604000
4        510000
          ...
21608    360000
21609    400000
21610    402101
21611    400000
21612    325000
Name: price, Length: 21613, dtype: int32

#### Column 04

In [13]:
# See if there is something anormal in bedroom column
df['bathrooms'] = df['bathrooms'].astype(int)
print(df.loc[(df['bedrooms'] > (3 * df['bathrooms'])) & (df['bathrooms'] >= 2)])

               id       date    price  bedrooms  bathrooms  sqft_living  \
4717   2025049006 2014-11-12   750000         7          2         3410
4867   5561300480 2015-04-08   600000         7          2         3170
6174   1873400020 2014-07-03   340000         8          2         2790
7023    686400380 2014-10-02   770000         7          2         3260
8757   1773100755 2014-08-21   520000        11          3         3000
9077   6746700615 2015-03-18   700000         8          2         2280
10958  1652500060 2014-07-11  1650000         8          2         4040
12605  2862100366 2014-10-15   730000         7          2         3110
14915  9187200345 2014-07-09   599000         7          2         2580
15161  5566100170 2014-10-29   650000        10          2         3610
15670  8141200080 2014-08-14   680000         8          2         2530
16313  2887950020 2014-06-25   280000         7          2         1940
17335  2856100381 2014-07-11   580000         7          2         2310
18823  4040500100 2014-10-20   539000         7          2         2620
19254  8812401450 2014-12-29   660000        10          3         2920

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
4717       4056     1.5           0     0  ...      8        2130
4867      36384     2.0           0     0  ...      8        3170
6174       6695     1.0           0     0  ...      7        1470
7023       8145     2.0           0     0  ...      8        3260
8757       4960     2.0           0     0  ...      7        2400
9077       3000     1.5           0     0  ...      7        1210
10958     20666     1.0           0     0  ...      9        2020
12605      4400     1.5           0     0  ...      7        2010
14915      5750     1.0           0     0  ...      7        1880
15161     11914     2.0           0     0  ...      7        3010
15670      4800     2.0           0     0  ...      7        1390
16313      5458     2.0           0     0  ...      7        1940
17335      2400     1.5           0     0  ...      6        2310
18823      6890     2.0           0     0  ...      7        2620
19254      3745     2.0           0     0  ...      7        1860

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
4717            1280      1906             0    98102  47.6454 -122.316
4867               0      1969             0    98027  47.4654 -122.003
6174            1320      1977             0    98133  47.7565 -122.331
7023               0      1967             0    98008  47.6336 -122.115
8757             600      1918          1999    98106  47.5560 -122.363
9077            1070      1911             0    98105  47.6675 -122.316
10958           2020      1962             0    98004  47.6340 -122.221
12605           1100      1914             0    98105  47.6684 -122.319
14915            700      1901             0    98122  47.6025 -122.294
15161            600      1958             0    98006  47.5705 -122.175
15670           1140      1901             0    98112  47.6241 -122.305
16313              0      1994             0    98092  47.3191 -122.177
17335              0      1915             0    98117  47.6775 -122.390
18823              0      1961             0    98007  47.6123 -122.134
19254           1060      1913             0    98105  47.6635 -122.320

       sqft_living15  sqft_lot15
4717            2510        4056
4867            2460       38370
6174            1760        7624
7023            2340        8145
8757            1420        4960
9077            1610        3000
10958           3670       20500
12605           1240        4280
14915           2280        5750
15161           2040       11914
15670           1540        4800
16313           1710        5688
17335           1340        3825
18823           2070        7910
19254           1810        3745

[15 rows x 21 columns]

In [14]:
# Let's change the number of bedrooms when the total bedroom number is three times higher than bathrooms and bathroom > 2 to 2.5 * bathroom
df['bedrooms'].loc[(df['bedrooms'] > (3 * df['bathrooms'])) & (df['bathrooms'] >= 2)] = 2.5 * df['bathrooms']

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [15]:
# Let's check if It was done
print(df.loc[(df['bedrooms'] > (3 * df['bathrooms'])) & (df['bathrooms'] >= 2)])
    # Now, the change is done

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

In [16]:
# Let's check if there are columns with zero or negative in bedroom column
df.loc[df['bedrooms'] <= 0]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
875,6306400140,2014-06-12,1095000,0.0,0,3064,4764,3.5,0,2,...,7,3064,0,1990,0,98102,47.6362,-122.322,2360,4000
3119,3918400017,2015-02-05,380000,0.0,0,1470,979,3.0,0,2,...,8,1470,0,2006,0,98133,47.7145,-122.356,1470,1399
3467,1453602309,2014-08-05,288000,0.0,1,1430,1650,3.0,0,0,...,7,1430,0,1999,0,98125,47.7222,-122.290,1430,1650
4868,6896300380,2014-10-02,228000,0.0,1,390,5900,1.0,0,0,...,4,390,0,1953,0,98118,47.5260,-122.261,2170,6000
6994,2954400190,2014-06-24,1295650,0.0,0,4810,28008,2.0,0,0,...,12,4810,0,1990,0,98053,47.6642,-122.069,4740,35061
8477,2569500210,2014-11-17,339950,0.0,2,2290,8319,2.0,0,0,...,8,2290,0,1985,0,98042,47.3473,-122.151,2500,8751
8484,2310060040,2014-09-25,240000,0.0,2,1810,5669,2.0,0,0,...,7,1810,0,2003,0,98038,47.3493,-122.053,1810,5685
9773,3374500520,2015-04-29,355000,0.0,0,2460,8049,2.0,0,0,...,8,2460,0,1990,0,98031,47.4095,-122.168,2520,8050
9854,7849202190,2014-12-23,235000,0.0,0,1470,4800,2.0,0,0,...,7,1470,0,1996,0,98065,47.5265,-121.828,1060,7200
12653,7849202299,2015-02-18,320000,0.0,2,1490,7111,2.0,0,0,...,7,1490,0,1999,0,98065,47.5261,-121.826,1500,4675
14423,9543000205,2015-04-13,139950,0.0,0,844,4269,1.0,0,0,...,7,844,0,1913,0,98001,47.2781,-122.250,1380,9600
18379,1222029077,2014-10-29,265000,0.0,0,384,213444,1.0,0,0,...,4,384,0,2003,0,98070,47.4177,-122.491,1920,224341
19452,3980300371,2014-09-26,142000,0.0,0,290,20875,1.0,0,0,...,1,290,0,1963,0,98024,47.5308,-121.888,1620,22850

In [17]:
# Let's change this rows to the median
bed_median = df['bedrooms'].median()
df['bedrooms'].loc[df['bedrooms'] <= 0] = bed_median

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [18]:
# Let's check if it's done
df.loc[df['bedrooms'] <= 0]
    # It's done

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

#### Column 05

In [19]:
# Let's check if there are negative numbers on bathrooms column and if there are number 2.5 times higher than bedrooms
df.loc[(df['bathrooms'] < 0) | (df['bathrooms'] > 2.5 * df['bedrooms'])]
    # It's okay

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

#### Column 06

In [20]:
# Let's see if there is any negative sqft living or a sqft living bigger than sqft lot
df.loc[(df['sqft_living']) <= 0 | (df['sqft_living'] > df['sqft_lot'])]
    # It's okay

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

#### Column 07

In [21]:
# Let's see if there are houses >= 4 or <=0
df.loc[(df['floors'] >=4) | df['floors'] <= 0]
    # It's okay

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

#### Column 08

In [24]:
# Let's describe how is this column
df['waterfront'].value_counts()
    # The waterfront houses are represented by number 1 and It's everything okay

0    21450
1      163
Name: waterfront, dtype: int64

#### Column 09

In [25]:
# Let's descriver how is this column
df['view'].value_counts()
    # Starting 0 until 4 to how much better is the view

0    19489
2      963
3      510
1      332
4      319
Name: view, dtype: int64

#### Column 10

In [26]:
# Let's understand the column condition
df['condition'].value_counts()
    # # Starting 0 until 4 to how much better is the condition

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

#### Column 11