# House Sales in King Count

## Importing and understanding the dataset

### Importing the dataset

In [ ]:
# Importing packages
import pandas as pd
from datetime import datetime

In [ ]:
# Reading the file into a variable
df = pd.read_csv('kc_house_data.csv')
df.head()

### First look, making questions and tracing actions about the dataset treatment

Column 01: Bring us Id's of the houses. Are they uniques? If not, why? Will need to treat it? <br>
Column 02: Bring us the date. It will need to treat to another format (DD/MM/YYYY). <br>
Column 03: Bring us the price in dollar's. It will need to treat it? <br>
Column 04: Bring us the number of bedrooms. It will need to treat it? <br>
Column 05: Bring us the number of bathrooms. It will need to treat it?<br>
Column 06: Bring us the square foot living. It will need to treat it?<br>
Column 07: Bring us the lot square foot. It will need to treat it?<br>
Column 08: Bring us the number of floors. It will need to treat it?<br>
Column 09: Bring us the information if it's a waterfront house. It will need to treat it?<br>
Column 10: It's not a very clear information, but probably give us a information if the house has a good view (maybe of mountains or something like it). Let's understand it better<br>
Column 11: Bring us the information about how is the condition of the house. Let's understand it better<br>
Column 12: Bring us the condition level of construction and design. Let's understand it better<br>
Column 13: Bring us the information about the interior housing space that is above ground level<br>
Column 14: Bring us the information about the interior housing space that is below ground level<br>
Column 15: Bring us the information about when the house was built<br>
Column 16: Bring us the information about when house's last renovation happened<br>
Column 17: Bring us the lattitude<br>
Column 18: Bring us the longitude<br>
Column 19: Bring us the sqft living mean for the nearest 15 neighbors<br>
Column 20: Bring us the sqft land lots for the nearest 15 neighbors<br>

In [56]:
# What are the types of the columns of the dataframe?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  datetime64[ns]
 2   price          21613 non-null  int32
 3   bedrooms       21613 non-null  float64
 4   bathrooms      21613 non-null  int32
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: datetime64[ns](1), float64(4), int32(2), int64(14)
memory usage: 3.3 MB

### Dataset treatment

#### Column 01

In [ ]:
# Looking for duplicated id's
df['id'].value_counts()

In [ ]:
# Let's urderstand the duplicated data
df[df['id'] == 795000620]

We have in id's columns, duplicated id's but that is important to have cause are houses that were sold more than one time. So we will keep that data

#### Column 02

In [ ]:
# Let's see how is the 2nd column
df['date']

In [ ]:
# We will need to treat it droping off the numbers 0 and the T
df['date'] = df['date'].map(lambda x: str(x)[:8])

In [ ]:
# Let's see how is now
df['date']

In [ ]:
# Now, We will format to date
df['date'] = pd.to_datetime(df['date'])

In [ ]:
# Let's see how is now
df['date']

#### Column 03

In [ ]:
# See how is the column
df['price']

In [ ]:
# Convert the float column to integer
df['price'] = df['price'].astype(int)
df['price']

#### Column 04

In [ ]:
# See if there is something anormal in bedroom column
df['bathrooms'] = df['bathrooms'].astype(int)
print(df.loc[(df['bedrooms'] > (3 * df['bathrooms'])) & (df['bathrooms'] >= 2)])

In [ ]:
# Let's change the number of bedrooms when the total bedroom number is three times higher than bathrooms and bathroom > 2 to 2.5 * bathroom
df['bedrooms'].loc[(df['bedrooms'] > (3 * df['bathrooms'])) & (df['bathrooms'] >= 2)] = 2.5 * df['bathrooms']

In [ ]:
# Let's check if It was done
print(df.loc[(df['bedrooms'] > (3 * df['bathrooms'])) & (df['bathrooms'] >= 2)])
    # Now, the change is done

In [ ]:
# Let's check if there are columns with zero or negative in bedroom column
df.loc[df['bedrooms'] <= 0]

In [ ]:
# Let's change this rows to the median
bed_median = df['bedrooms'].median()
df['bedrooms'].loc[df['bedrooms'] <= 0] = bed_median

In [53]:
# Let's check if it's done
df.loc[df['bedrooms'] <= 0]
    # It's done

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

#### Column 05

In [55]:
# Let's check if there are negative numbers on bathrooms column and if there are number 2.5 times higher than bedrooms
df.loc[(df['bathrooms'] < 0) | (df['bathrooms'] > 2.5 * df['bedrooms'])]
    # It's okay

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

#### Column 06

In [62]:
# Let's see if there is any negative sqft living or a sqft living bigger than sqft lot
df.loc[(df['sqft_living']) <= 0 | (df['sqft_living'] > df['sqft_lot'])]
    # It's okay

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]