# House Sales in King Count

## Importing and understanding the dataset

### Importing the dataset

In [1]:
# Importing packages
import pandas as pd

In [2]:
# Reading the file into a variable
df = pd.read_csv('kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### First look, making questions and tracing actions about the dataset treatment

Column 01: Bring us Id's of the houses. Are they uniques? If not, why? Will need to treat it? <br>
Column 02: Bring us the date. It will need to treat to another format (DD/MM/YYYY). <br>
Column 03: Bring us the price in dollar's. It will need to treat it? <br>
Column 04: Bring us the number of bedrooms. It will need to treat it? <br>
Column 05: Bring us the number of bathrooms. It will need to treat it?<br>
Column 06: Bring us the square foot living. It will need to treat it?<br>
Column 07: Bring us the lot square foot. It will need to treat it?<br>
Column 08: Bring us the number of floors. It will need to treat it?<br>
Column 09: Bring us the information if it's a waterfront house. It will need to treat it?<br>
Column 10: It's not a very clear information, but probably give us a information if the house has a good view (maybe of mountains or something like it). Let's understand it better<br>
Column 11: Bring us the information about how is the condition of the house. Let's understand it better<br>
Column 12: Bring us the condition level of construction and design. Let's understand it better<br>
Column 13: Bring us the information about the interior housing space that is above ground level<br>
Column 14: Bring us the information about the interior housing space that is below ground level<br>
Column 15: Bring us the information about when the house was built<br>
Column 16: Bring us the information about when house's last renovation happened<br>
Column 17: Bring us the lattitude<br>
Column 18: Bring us the longitude<br>
Column 19: Bring us the sqft living mean for the nearest 15 neighbors<br>
Column 20: Bring us the sqft land lots for the nearest 15 neighbors<br>

In [3]:
# What are the types of the columns of the dataframe?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

### Dataset treatment

#### Column 01

In [7]:
# Looking for duplicated id's
df['id'].value_counts()

795000620     3
2206700215    2
643300040     2
3333002450    2
1995200200    2
             ..
3420069065    1
7812801125    1
4364700875    1
3021059276    1
1777500160    1
Name: id, Length: 21436, dtype: int64

In [8]:
# Let's urderstand the duplicated data
df[df['id'] == 795000620]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
17602,795000620,20140924T000000,115000.0,3,1.0,1080,6250,1.0,0,0,...,5,1080,0,1950,0,98168,47.5045,-122.33,1070,6250
17603,795000620,20141215T000000,124000.0,3,1.0,1080,6250,1.0,0,0,...,5,1080,0,1950,0,98168,47.5045,-122.33,1070,6250
17604,795000620,20150311T000000,157000.0,3,1.0,1080,6250,1.0,0,0,...,5,1080,0,1950,0,98168,47.5045,-122.33,1070,6250

We have in id's columns, duplicated id's but that is important to have cause are houses that were sold more than one time. So we will keep that data